# Ignore the actual image data
Kayu/
data/database.db
data/

# Ignore Python artifacts
__pycache__/
*.pyc
venv/
.env


# Virtual Environments
torch_env/
app/torch_env/
venv/
env/

# Trained Models
*.pth
